body {
	font-size: $font-size--base;
	margin: 0;

	@include desktop {
		font-size: 18px;
	}

	@include tablet-landscape {
		font-size: 18px;
	}

	@include tablet-portrait {
		font-size: 15px;
	}

	@include phone-landscape{
		font-size: 12px;
	}

	@include phone-portrait {
		font-size: 10px;
	}
}

.visually-hidden:not(:focus):not(:active) {
	width: 1px;
	height: 1px;
	margin: 1px;
	padding: 0;
	border: 0;

	position: absolute;
	white-space: nowrap;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.section-title {
	margin: 0;
	@include font($black, $font-size--xl, $font-title, bold);
	text-align: center;
}

.container {
	margin: 0 auto;
}

.blur {
	filter: blur($blur-size);
}