.leaf-1, .leaf-2, .leaf-3, .leaf-4, .leaf-5, .leaf-6, .dots-1, .dots-2, .dots-3, .dots-4 {
    position: absolute;
    height: auto;
    z-index: 0;
}

.header--home .decoration {

    .dots-1 {
        @include header-elem-width--pc(132px);
        top: calculation-size--pc(190px, $header-container-height);
        right: calculation-size--pc(455px, $header-container-width);
    }

    .dots-2 {
        @include header-elem-width--pc(88px);
        bottom: calculation-size--pc(120px, $header-container-height);
        left: calculation-size--pc(390px, $header-container-width);
    }

    .leaf-1 {
        @include header-elem-width--pc(516px);
        top: calculation-size--pc(155px, $header-container-height);
        left: calculation-size--pc(-360px, $header-container-width);

        @include phone-landscape {
            display: none;
        }
    }

    .leaf-2 {
        @include header-elem-width--pc(72px);
        top: calculation-size--pc(0, $header-container-height);
        left: calculation-size--pc(660px, $header-container-width);
    }

    .leaf-3 {
        @include header-elem-width--pc(346px);
        top: calculation-size--pc(115px, $header-container-height);
        right: calculation-size--pc(-270px, $header-container-width);
    }
    
    .leaf-4 {
        @include header-elem-width--pc(169px);
        bottom: calculation-size--pc(10px, $header-container-height);
        left: calculation-size--pc(15px, $header-container-width);

        @include phone-landscape {
            display: none;
        }
    }

    .leaf-5 {
        @include header-elem-width--pc(84px);
        bottom: calculation-size--pc(170px, $header-container-height);
        right: calculation-size--pc(460px, $header-container-width);
    }

    .leaf-6 {
        @include header-elem-width--pc(170px);
        bottom: calculation-size--pc(145px, $header-container-height);
        right: calculation-size--pc(-100px, $header-container-width);
    }
}

.testimonials {
    .dots-3 {
        @include header-elem-width--pc(88px);
        top: calculation-size--pc(-50px, $header-container-height);
        left: calculation-size--pc(70px, $header-container-width);
    }

    .dots-4 {
        @include header-elem-width--pc(88px);
        top: calculation-size--pc(210px, $header-container-height);
        right: calculation-size--pc(-20px, $header-container-width);
    }

    .leaf-1 {
        @include header-elem-width--pc(516px);
        transform: scale(-1);
        top: calculation-size--pc(255px, $header-container-height);
        right: calculation-size--pc(-360px, $header-container-width);

        @include phone-landscape {
            display: none;
        }
    }

    .leaf-4 {
        @include header-elem-width--pc(169px);
        bottom: calculation-size--pc(-40px, $header-container-height);
        right: calculation-size--pc(120px, $header-container-width);
    }

    .leaf-5 {
        @include header-elem-width--pc(84px);
        bottom: calculation-size--pc(180px, $header-container-height);
        left: calculation-size--pc(65px, $header-container-width);
    }
}