.header--home {
    overflow: hidden;

    background-image: url(../imgs/home/bg-header.png);
    @include bg-image(cover);

    .container {
        width: 91.25%;
        max-width: 1460px;
        min-height: 865px;

        position: relative;
    }

    .navigation {
        width: 100%;
        padding: em(30px) em(40px) 0;
        box-sizing: border-box;

        position: absolute;
        top: 0;
        @extend %flex-sb;
    }

    .logo {
        @include reset-link;
        @include font($white, em(50px), $font-logo, 700);
    }

    .navigation__list {
        @include horizontal-list;
        align-items: flex-end;

        li a {
            padding-left: em(30px);
            padding-right: em(30px);
            height: 100%;
        
            @include reset-link;
            display: block;

            @include font--primary($white, em($font-size--s));
            text-transform: uppercase;
            line-height: 2.3;

            &[disabled] {
                font-weight: 700;
            }
        }
    }

    .title {
        $font-size: $font-size--xl;

        margin: 0 0 0 15.3%;

        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        @include font($white, em($font-size), $font-title);
        line-height: 1.4;
    }

    .social-list {
        @include reset-list;
        position: absolute;
        bottom: em(55px);
        left: 0;

        li {
            position: relative;
            @include size(42px, 42px)
        }

        li a:before {
            content: "";
            @extend %position-absolute-center;
            @include size(100%, 100%);
        }

        //Иконки для соцсетей
        $img: "imgs/icons/social";
        $list: (Facebook, Instagram, Dribbble, Behance);

        @each $title in $list {
            li a[title = "#{$title}"]:before {
                background-image: url("../#{$img}/#{$title}.png");
                @include bg-image(auto 16px)
            }
        }
    }
}

.about {
    width: 73.13%;
    margin: 0 auto;

    padding-top: em(75px);
    position: relative;

    .description {
        margin: 0;
        @include font--primary;
        line-height: 1.64;
        text-align: center;
    }

    .button {
        margin-top: em(30px);

        @include reset-link;
        display: block;

        @include font($violet, em($font-size--s), $font-primary, 700);
        text-transform: uppercase;
        text-align: center;
        line-height: 2;
    }
}

.skills {
    margin: em(130px) auto 0;
    width: 73.13%;

    .skills__list {
        @include horizontal-list;
        margin-top: em(90px);
        justify-content: space-between;

        li {
            width: 23%;

            display: flex;
            flex-direction: column;
            overflow: hidden;

            border-radius: $border-radius--s;
            box-shadow: 0px 59px 39.1px 6.9px rgba(224, 241, 255, 0.34);

        }
    }

    .img__wrapp {
        height: em(155px);
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            position: absolute;
            bottom: 0;
        }
    }

   @mixin bg-color-item ($color) {
    background-color: rgba($color: $color, $alpha: .05);
   }

   .violet {
       @include bg-color-item($violet);
   }

   .turquoise {
       @include bg-color-item($turquoise);
   }

   .orange {
       @include bg-color-item($orange);
   }

   .skills__title {
       margin: 0;

       @include font--primary;
       font-weight: 400;
       line-height: 3.2;
       text-align: center;
   }
}

