.header--home {
    overflow: hidden;

    background-image: url(../imgs/home/bg-header.png);
    @include bg-image(cover);

    .container {
        width: 91.25%;
        max-width: 1460px;
        min-height: 865px;

        position: relative;
    }

    .navigation {
        width: 100%;
        padding: em(30px) em(40px) 0;
        box-sizing: border-box;

        position: absolute;
        top: 0;
        @extend %flex-sb;
    }

    .logo {
        @include reset-link;
        @include font($white, em(50px), $font-logo, 700);
    }

    .navigation__list {
        @include horizontal-list;
        align-items: flex-end;

        li a {
            padding-left: em(30px);
            padding-right: em(30px);
            height: 100%;
        
            @include reset-link;
            display: block;

            @include font--primary($white, em($font-size--s));
            text-transform: uppercase;
            line-height: 2.3;

            &[disabled] {
                font-weight: 700;
            }
        }
    }

    .title {
        $font-size: $font-size--xl;

        margin: 0 0 0 15.3%;

        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        @include font($white, em($font-size), $font-title);
        line-height: 1.4;
    }

    .social-list {
        @include reset-list;
        position: absolute;
        bottom: em(55px);
        left: 0;

        li {
            position: relative;
            @include size(42px, 42px)
        }

        li a:before {
            content: "";
            @extend %position-absolute-center;
            @include size(100%, 100%);
        }

        //Иконки для соцсетей
        $img: "imgs/icons/social";
        $list: (Facebook, Instagram, Dribbble, Behance);

        @each $title in $list {
            li a[title = "#{$title}"]:before {
                background-image: url("../#{$img}/#{$title}.png");
                @include bg-image(auto 16px)
            }
        }
    }
}

.about {
    @include container;

    padding-top: em(75px);
    position: relative;

    .description {
        margin: 0;
        @include font--primary;
        line-height: 1.64;
        text-align: center;
    }

    .button {
        margin-top: em(30px);

        @include reset-link;
        display: block;

        @include font($violet, em($font-size--s), $font-primary, 700);
        text-transform: uppercase;
        text-align: center;
        line-height: 2;
    }
}

.skills {
    @include container;
    margin-top: em(130px);

    .skills__list {
        @include horizontal-list;
        margin-top: em(90px);
        justify-content: space-between;

        li {
            width: 23%;

            display: flex;
            flex-direction: column;
            overflow: hidden;

            border-radius: $border-radius--s;
            box-shadow: 0px 59px 39.1px 6.9px rgba(224, 241, 255, 0.34);

        }
    }

    .img__wrapp {
        height: em(155px);
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            position: absolute;
            bottom: 0;
        }
    }

   @mixin bg-color-item ($color) {
    background-color: rgba($color: $color, $alpha: .05);
   }

   .violet {
       @include bg-color-item($violet);
   }

   .turquoise {
       @include bg-color-item($turquoise);
   }

   .orange {
       @include bg-color-item($orange);
   }

   .skills__title {
       margin: 0;

       @include font--primary;
       font-weight: 400;
       line-height: 3.2;
       text-align: center;
   }
}

.experience {
    @include container;
    margin-top: em(170px);

    .experience__list {
        @include horizontal-list;

        margin-top: em(50px);
        justify-content: space-between;

        .description:before {
            content: "";
            display: block;
            margin: 0 auto;
            @include size(em(130px), em(130px));
        }


        //иконки
        $companies: (webex, augmedix, themefisher);
        $src: "../imgs/icons/experience";

        @each $company in $companies {
            div[data-company = "#{$company}"]:before {
                background-image: url("#{$src}/#{$company}.png");
                @include bg-image(cover);
            }
        }

        .description .date {
            margin: 0;

            @include font($black, em($font-size--s), $font-description);
            line-height: 2;
            text-align: center;
        }

        .description .position {
            margin: 0;

            @include font--primary;
            line-height: 2;
            text-align: center;
        }

        .description .company {
            margin: 0;

            @include font--primary($gray);
            line-height: 2;
            text-transform: uppercase;
            text-align: center;
        }
    }
}

.education {
    @include container;
    margin-top: em(190px);
    position: relative;

    &:before {
        content: "";
        position: absolute;
        width: 100vw;
        max-width: 1600px;
        height: em(1200px);
        background-image: url(../imgs/home/education/background.png);
        transform: translateX(-13.435%);
        top: em(-340px);
    }

    .education__list {
        @include horizontal-list;
        flex-wrap: wrap;
        margin-top: em(85px);

        li {
            width: 49%;
            margin-bottom: em(80px);
            display: flex;

            &:before {
                content: "";
                display: block;
                @include size(em(100px), em(100px));
                background-color: $white;
                border-radius: $border-radius--circle;
                background-image: url(../imgs/icons/education/graduation-hat.svg);
                @include bg-image(50%);
            }
        }

        .description {
            padding-left: em(70px);
        }

        .date {
            margin: 0;

            @include font($black, em($font-size--s), $font-description);
            line-height: 2;
        }

        .certificate {
            margin: 0;

            @include font--primary;
            line-height: 1.5;
        }

        .institution {
            margin: 0;

            @include font--primary($gray, $font-size--s);
            line-height: 2;
        }
    }
}

.services {
    @include container;
    margin-top: em(75px);

    .services__list {
        @include horizontal-list;
        justify-content: space-between;
        align-items: stretch;
        margin-top: em(75px);

        li {
            width: 30%;
            box-sizing: border-box;
            padding: em(90px) em(40px) em(50px);

            border-radius: $border-radius--s;
            background-color: $white;

            transition-duration: $transition-duration--base;
            cursor: pointer;

            &:before {
                content: "";
                display: block;
                height: em(40px);
                margin-bottom: em(50px);

                @include bg-image(auto);
            }

            //иконки
            @each $num in (1, 2, 3) {
                &:nth-child(#{$num})::before{
                    background-image: url(../imgs/icons/services/service#{$num}.png);
                }
            }

            &:hover {
                background-color: $violet;
                box-shadow: 0px 59px 39.1px 6.9px rgba(224, 241, 255, 0.34);
                transition-duration: $transition-duration--base;
                
                .title {
                    color: $white;
                    transition-duration: $transition-duration--base;
                }

                .description {
                    color: rgba($color: $white, $alpha: .5);
                    transition-duration: $transition-duration--base;
                }
            }
        }

        .title {
            margin: 0;
            @include font--primary;
            text-align: center;
            transition-duration: $transition-duration--base;
        }

        .description {
            margin: em(20px) 0;
            @include font--description(rgba($color: $black, $alpha: .5));
            text-align: center;
            line-height: 1.9;
            transition-duration: $transition-duration--base;
        }
    }
}