//Font
@mixin font($color, $size, $family: $font-primary, $weight: 400, $style: normal) {
	font: $style $weight $size $family;
	color: $color;
}

@mixin font--primary($color: $black, $font-size: $font-size--base, $font-family: $font-primary){
    font-family: $font-family;
    color: $color;
    font-size: $font-size;
}

@mixin font--description($color: $black, $font-size: $font-size--xs, $font-family: $font-description){
    font-family: $font-family;
    color: $color;
    font-size: $font-size;
}

//Reset styles
@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin reset-link {
    color: $black;
    text-decoration: none;
}

@mixin reset-button {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@mixin horizontal-list {
    @include reset-list;
    display: flex;
}

//Size
@mixin content-width($width){
    padding-right: calc(50% - ($width / 2));
    padding-left: calc(50% - ($width / 2));
}

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin bg-image($size, $position: center center) {
	background-repeat: no-repeat;
	background-size: $size;
	background-position: $position;
}

@mixin header-elem-width--pc($px) {
    width: calculation-size--pc($px, $header-container-width);

    @include tablet-landscape  {
        width: calculation-size--pc($px, $header-container-width) * 1.2;
    }

    @include tablet-portrait {
        width: calculation-size--pc($px, $header-container-width) * 1.5;
    }

    @include phone-landscape {
        width: calculation-size--pc($px, $header-container-width) * 2;
    }

    @include phone-portrait {
        width: calculation-size--pc($px, $header-container-width) * 2.5;
    }
}

@mixin container {
	width: calculation-size--pc($container-width, $start-layout-width);
	max-width: $container-width;
	margin: 0 auto;
}

@mixin big-container {
    width: calculation-size--pc($header-container-width, $start-layout-width);
    max-width: $header-container-width;
    margin: 0 auto;
}

//Media Queries
@mixin phone-portrait {
    @media (max-width: 399px) { @content; }
  }
@mixin phone-landscape{
    @media (max-width: 699px) { @content; }
  }
@mixin tablet-portrait {
    @media (max-width: 899px) { @content; }
}
@mixin tablet-landscape {
    @media (max-width: 1199px) { @content; }
}
@mixin desktop {
    @media (max-width: 1599px) { @content; }
}