//Fonts
$font-size--xl: 80px; 
$font-size--l: 60px;
$font-size--base: 22px;
$font-size--s: 18px;
$font-size--xs: 15px;

$font-title: "Poppins", sans-serif;
$font-primary: "Playfair Display", serif;
$font-description: "Roboto", sans-serif;
$font-logo: "Oswald", sans-serif;

//Colors
$white: #ffffff;
$black: #000000;
$violet: #41228e;
$turquoise: #3ff8f6;
$orange: #ffa030;

//Border
$border-radius--s: 5px;
$border-radius--md: 15px;
$border-radius--circle: 50%;

  

