.header--home .navigation, .blogs .blogs__wrapper {
  display: flex;
  justify-content: space-between; }

.header--home .social-list li a:before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

body {
  font-size: 22px;
  margin: 0;
  overflow-x: hidden; }
  @media (max-width: 1599px) {
    body {
      font-size: 18px; } }
  @media (max-width: 1199px) {
    body {
      font-size: 18px; } }
  @media (max-width: 899px) {
    body {
      font-size: 15px; } }
  @media (max-width: 699px) {
    body {
      font-size: 14px; } }
  @media (max-width: 399px) {
    body {
      font-size: 13px; } }

.visually-hidden:not(:focus):not(:active) {
  width: 1px;
  height: 1px;
  margin: 1px;
  padding: 0;
  border: 0;
  position: absolute;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.section-title {
  margin: 0;
  font: normal bold 3.63636em "Poppins", sans-serif;
  color: #000000;
  text-align: center; }
  @media (max-width: 399px) {
    .section-title {
      font-size: 2.5em; } }

.container {
  margin: 0 auto; }

.blur {
  filter: blur(10px); }

.header--home {
  background-image: url(../imgs/home/bg-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  .header--home:before {
    transition-duration: 0.5s; }
  @media (max-width: 899px) {
    .header--home {
      min-height: 100vh; } }
  .header--home .navigation__wrapper {
    width: 91.25%;
    max-width: 1460px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10; }
    @media (max-width: 899px) {
      .header--home .navigation__wrapper {
        width: 100%;
        height: 100%; } }
  .header--home .container {
    width: 91.25%;
    max-width: 1460px;
    margin: 0 auto;
    min-height: 865px;
    position: relative;
    transition-duration: 0.5s; }
    @media (max-width: 899px) {
      .header--home .container {
        min-height: 100vh; } }
  .header--home .navigation {
    width: 100%;
    padding: 1.36364em 1.81818em 0;
    box-sizing: border-box; }
  .header--home .logo {
    color: #000000;
    text-decoration: none;
    font: normal 700 50px "Oswald", sans-serif;
    color: #ffffff; }
    @media (max-width: 399px) {
      .header--home .logo {
        font-size: 2.5em; } }
  .header--home .navigation__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: flex-end;
    transition-duration: 0.5s; }
    @media (max-width: 899px) {
      .header--home .navigation__list {
        min-height: 50%;
        display: none;
        opacity: 0;
        flex-direction: column;
        justify-content: space-between; }
        .header--home .navigation__list li {
          height: 100%; }
          .header--home .navigation__list li a {
            color: #222222; } }
    .header--home .navigation__list li a {
      padding-left: 1.36364em;
      padding-right: 1.36364em;
      height: 100%;
      color: #000000;
      text-decoration: none;
      display: block;
      position: relative;
      font-family: "Playfair Display", serif;
      color: #ffffff;
      font-size: 0.90909em;
      text-transform: uppercase;
      line-height: 2.3;
      transition-duration: 0.5s; }
      .header--home .navigation__list li a[disabled] {
        font-weight: 700;
        cursor: default; }
      .header--home .navigation__list li a:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: #ffffff;
        transition-duration: .8s; }
      .header--home .navigation__list li a:not([disabled]):hover:after {
        transition-property: width;
        width: 100%;
        transition-duration: .8s;
        transition-timing-function: ease-out; }
  .header--home .title {
    margin: 0 0 0 15.3%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    font: normal 400 3.63636em "Poppins", sans-serif;
    color: #ffffff;
    line-height: 1.4; }
    @media (max-width: 399px) {
      .header--home .title {
        font-size: 2.5em; } }
  .header--home .social-list {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    bottom: 2.5em;
    left: 0;
    z-index: 10; }
    .header--home .social-list li {
      position: relative;
      width: 42px;
      height: 42px; }
    .header--home .social-list li a:before {
      content: "";
      width: 100%;
      height: 100%; }
    .header--home .social-list li a[title="Facebook"]:before {
      background-image: url("../imgs/icons/social/Facebook.png");
      background-repeat: no-repeat;
      background-size: auto 16px;
      background-position: center center; }
    .header--home .social-list li a[title="Instagram"]:before {
      background-image: url("../imgs/icons/social/Instagram.png");
      background-repeat: no-repeat;
      background-size: auto 16px;
      background-position: center center; }
    .header--home .social-list li a[title="Dribbble"]:before {
      background-image: url("../imgs/icons/social/Dribbble.png");
      background-repeat: no-repeat;
      background-size: auto 16px;
      background-position: center center; }
    .header--home .social-list li a[title="Behance"]:before {
      background-image: url("../imgs/icons/social/Behance.png");
      background-repeat: no-repeat;
      background-size: auto 16px;
      background-position: center center; }
  .header--home .burger__btn {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    padding: 15px;
    box-sizing: content-box;
    display: none; }
    @media (max-width: 899px) {
      .header--home .burger__btn {
        display: block; } }
    @media (max-width: 399px) {
      .header--home .burger__btn {
        width: 30px;
        height: 30px; } }
    .header--home .burger__btn span {
      display: block;
      height: 4px;
      background-color: #ffffff;
      position: relative;
      transition-duration: 0.5s;
      border-radius: 2px; }
      .header--home .burger__btn span:after, .header--home .burger__btn span:before {
        content: "";
        position: absolute;
        background-color: #ffffff;
        height: 4px;
        width: 50%;
        transition-duration: 0.5s;
        border-radius: 2px; }
      .header--home .burger__btn span:after {
        bottom: -10px;
        right: 0; }
      .header--home .burger__btn span:before {
        top: -10px;
        left: 0; }

@media (max-width: 899px) {
  .menu--open {
    position: relative; }
    .menu--open::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.3);
      transition-duration: 0.5s; }
    .menu--open .navigation {
      height: 100%;
      flex-direction: column;
      justify-content: normal;
      align-items: flex-end; }
      .menu--open .navigation .logo {
        display: none; }
      .menu--open .navigation .navigation__list {
        display: flex;
        opacity: 1;
        transition-duration: 0.5s; }
        .menu--open .navigation .navigation__list li {
          width: 100%;
          border-bottom: 1px solid #222222; }
        .menu--open .navigation .navigation__list li a {
          font-size: 2.27273em;
          font-weight: 700;
          color: #222222;
          text-align: right;
          transition-duration: 0.5s; } }
        @media (max-width: 899px) and (max-width: 399px) {
          .menu--open .navigation .navigation__list li a {
            font-size: 1.81818em; } }

@media (max-width: 899px) {
          .menu--open .navigation .navigation__list li a[disabled] {
            font-weight: 300; }
          .menu--open .navigation .navigation__list li a:not([disabled]):hover {
            transform: translateX(-15px);
            color: rgba(34, 34, 34, 0.7);
            transition-duration: 0.5s; }
          .menu--open .navigation .navigation__list li a:after {
            visibility: hidden;
            display: none; }
      .menu--open .navigation .burger__btn span {
        transition-duration: 0.5s;
        transform: rotate(-45deg);
        background-color: #222222; }
        .menu--open .navigation .burger__btn span:before, .menu--open .navigation .burger__btn span:after {
          transition-duration: 0.5s;
          background-color: #222222; }
        .menu--open .navigation .burger__btn span:before {
          transform: rotate(90deg);
          transform-origin: right;
          top: 0;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0; }
        .menu--open .navigation .burger__btn span:after {
          transform: rotate(90deg);
          transform-origin: left;
          bottom: 0;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0; }
    .menu--open .container {
      filter: blur(10px);
      transition-duration: 0.5s; } }

.about {
  width: 73.125%;
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 3.40909em;
  position: relative; }
  @media (max-width: 699px) {
    .about {
      width: 82%; } }
  @media (max-width: 399px) {
    .about {
      width: 92%; } }
  .about .description {
    margin: 0;
    font-family: "Playfair Display", serif;
    color: #000000;
    font-size: 1em;
    line-height: 1.64;
    text-align: center; }
  .about .button {
    margin-top: 1.5em;
    color: #000000;
    text-decoration: none;
    display: block;
    font: normal 700 0.90909em "Playfair Display", serif;
    color: #41228e;
    text-transform: uppercase;
    text-align: center;
    line-height: 2; }

.skills {
  width: 73.125%;
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 5.90909em; }
  @media (max-width: 699px) {
    .skills {
      width: 82%; } }
  @media (max-width: 399px) {
    .skills {
      width: 92%; } }
  .skills .skills__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    margin-top: 4.09091em;
    justify-content: space-between; }
    @media (max-width: 699px) {
      .skills .skills__list {
        flex-wrap: wrap; } }
    .skills .skills__list li {
      width: 23%;
      margin-bottom: 0.90909em;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      border-radius: 5px;
      box-shadow: 0px 59px 39.1px 6.9px rgba(224, 241, 255, 0.34); }
      @media (max-width: 699px) {
        .skills .skills__list li {
          flex-basis: 45%; } }
      @media (max-width: 399px) {
        .skills .skills__list li {
          flex-basis: 48%; } }
  .skills .img__wrapp {
    height: 7.04545em;
    position: relative;
    overflow: hidden; }
    @media (max-width: 699px) {
      .skills .img__wrapp {
        height: 10em; } }
    @media (max-width: 399px) {
      .skills .img__wrapp {
        height: 7.04545em; } }
    .skills .img__wrapp img {
      width: 100%;
      position: absolute;
      bottom: 0; }
  .skills .violet {
    background-color: rgba(65, 34, 142, 0.05); }
  .skills .turquoise {
    background-color: rgba(63, 248, 246, 0.05); }
  .skills .orange {
    background-color: rgba(255, 160, 48, 0.05); }
  .skills .skills__title {
    margin: 0;
    font-family: "Playfair Display", serif;
    color: #000000;
    font-size: 1em;
    font-weight: 400;
    line-height: 3.2;
    text-align: center; }

.experience {
  width: 73.125%;
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 7.72727em; }
  @media (max-width: 699px) {
    .experience {
      width: 82%; } }
  @media (max-width: 399px) {
    .experience {
      width: 92%; } }
  .experience .experience__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    margin-top: 2.27273em;
    justify-content: space-between; }
    @media (max-width: 699px) {
      .experience .experience__list {
        flex-wrap: wrap; } }
    @media (max-width: 699px) {
      .experience .experience__list li {
        flex-basis: 80%;
        position: relative;
        margin: 0 auto 1.81818em; } }
    @media (max-width: 399px) {
      .experience .experience__list li {
        flex-basis: 95%; } }
    .experience .experience__list .description:before {
      content: "";
      display: block;
      margin: 0 auto;
      width: 5.90909em;
      height: 5.90909em; }
      @media (max-width: 699px) {
        .experience .experience__list .description:before {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%); } }
    .experience .experience__list div[data-company="webex"]:before {
      background-image: url("../imgs/icons/experience/webex.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center; }
    .experience .experience__list div[data-company="augmedix"]:before {
      background-image: url("../imgs/icons/experience/augmedix.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center; }
    .experience .experience__list div[data-company="themefisher"]:before {
      background-image: url("../imgs/icons/experience/themefisher.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center; }
    .experience .experience__list .description .date, .experience .experience__list .description .position, .experience .experience__list .description .company {
      margin: 0;
      line-height: 2;
      text-align: center; }
      @media (max-width: 699px) {
        .experience .experience__list .description .date, .experience .experience__list .description .position, .experience .experience__list .description .company {
          margin-left: 6.81818em;
          text-align: right; } }
    .experience .experience__list .description .date {
      font: normal 400 0.90909em "Roboto", sans-serif;
      color: #000000; }
      @media (max-width: 699px) {
        .experience .experience__list .description .date {
          margin-left: 7.5em; } }
    .experience .experience__list .description .position {
      font-family: "Playfair Display", serif;
      color: #000000;
      font-size: 1em; }
      @media (max-width: 699px) {
        .experience .experience__list .description .position {
          margin-left: 6.81818em; } }
    .experience .experience__list .description .company {
      font-family: "Playfair Display", serif;
      color: #999999;
      font-size: 1em;
      text-transform: uppercase; }
      @media (max-width: 699px) {
        .experience .experience__list .description .company {
          margin-left: 6.81818em; } }

.education {
  width: 73.125%;
  max-width: 1170px;
  margin: 0 auto;
  margin: 8.63636em auto 0;
  position: relative; }
  @media (max-width: 699px) {
    .education {
      width: 82%; } }
  @media (max-width: 399px) {
    .education {
      width: 92%; } }
  @media (max-width: 899px) {
    .education {
      margin-top: 4.54545em; } }
  .education:before {
    content: "";
    position: absolute;
    width: 120vw;
    max-width: 1600px;
    height: 54.54545em;
    background-image: url(../imgs/home/education/background.png);
    background-position: 50% 100%;
    background-size: cover;
    transform: translateX(-13.435%);
    bottom: -12.72727em; }
    @media (max-width: 699px) {
      .education:before {
        bottom: 2.27273em;
        background-position: 80% 100%; } }
  .education .education__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3.86364em;
    position: relative; }
    @media (max-width: 699px) {
      .education .education__list {
        flex-wrap: wrap;
        justify-content: center; } }
    .education .education__list li {
      width: 49%;
      margin-bottom: 3.63636em;
      display: flex; }
      .education .education__list li:before {
        content: "";
        display: block;
        width: 4.54545em;
        height: 4.54545em;
        background-color: #ffffff;
        border-radius: 50%;
        background-image: url(../imgs/icons/education/graduation-hat.svg);
        box-shadow: 0px 18px 39.1px 6.9px rgba(224, 241, 255, 0.34);
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: center center; }
      @media (max-width: 699px) {
        .education .education__list li {
          flex-basis: 85%; } }
      @media (max-width: 399px) {
        .education .education__list li {
          flex-basis: 100%; } }
    .education .education__list .description {
      padding-left: 3.18182em; }
    .education .education__list .date {
      margin: 0;
      font: normal 400 0.90909em "Roboto", sans-serif;
      color: #000000;
      line-height: 2; }
    .education .education__list .certificate {
      margin: 0;
      font-family: "Playfair Display", serif;
      color: #000000;
      font-size: 1em;
      line-height: 1.5; }
    .education .education__list .institution {
      margin: 0;
      font-family: "Playfair Display", serif;
      color: #999999;
      font-size: 0.90909em;
      line-height: 2; }

.services {
  width: 73.125%;
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 3.40909em; }
  @media (max-width: 699px) {
    .services {
      width: 82%; } }
  @media (max-width: 399px) {
    .services {
      width: 92%; } }
  .services .services__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 3.40909em; }
    @media (max-width: 699px) {
      .services .services__list {
        flex-wrap: wrap;
        justify-content: center; } }
    .services .services__list li {
      width: 30%;
      box-sizing: border-box;
      padding: 4.09091em 1.81818em 2.27273em;
      border-radius: 5px;
      background-color: #ffffff;
      transition-duration: 0.5s;
      cursor: pointer; }
      @media (max-width: 699px) {
        .services .services__list li {
          flex-basis: 90%;
          margin-bottom: 0.90909em;
          padding: 2.27273em 0.90909em 1.36364em;
          border: 1px solid #41228e; } }
      .services .services__list li:before {
        content: "";
        display: block;
        height: 1.81818em;
        margin-bottom: 2.27273em;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center; }
        @media (max-width: 699px) {
          .services .services__list li:before {
            height: 2.72727em; } }
      .services .services__list li:nth-child(1)::before {
        background-image: url(../imgs/icons/services/service1.png); }
      .services .services__list li:nth-child(2)::before {
        background-image: url(../imgs/icons/services/service2.png); }
      .services .services__list li:nth-child(3)::before {
        background-image: url(../imgs/icons/services/service3.png); }
      .services .services__list li:hover {
        background-color: #41228e;
        box-shadow: 0px 59px 39.1px 6.9px rgba(224, 241, 255, 0.34);
        transition-duration: 0.5s; }
        .services .services__list li:hover .title {
          color: #ffffff;
          transition-duration: 0.5s; }
        .services .services__list li:hover .description {
          color: rgba(255, 255, 255, 0.5);
          transition-duration: 0.5s; }
    .services .services__list .title {
      margin: 0;
      font-family: "Playfair Display", serif;
      color: #000000;
      font-size: 1em;
      text-align: center;
      transition-duration: 0.5s; }
    .services .services__list .description {
      margin: 1.11111em 0;
      font-family: "Roboto", sans-serif;
      color: rgba(0, 0, 0, 0.5);
      font-size: 0.81818em;
      text-align: center;
      line-height: 1.9;
      transition-duration: 0.5s; }

.portfolio {
  width: 73.125%;
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 7.72727em; }
  @media (max-width: 699px) {
    .portfolio {
      width: 82%; } }
  @media (max-width: 399px) {
    .portfolio {
      width: 92%; } }
  @media (max-width: 699px) {
    .portfolio {
      margin-top: 4.54545em; } }
  .portfolio .portfolio__list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 4.09091em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 12.95455em);
    grid-gap: 1.36364em;
    grid-template-areas: "Milkbar GamePlace GetUp" "Milkbar Game4Game SportHub"; }
    @media (max-width: 1199px) {
      .portfolio .portfolio__list {
        grid-template-rows: repeat(2, 11.13636em); } }
    @media (max-width: 899px) {
      .portfolio .portfolio__list {
        grid-template-rows: repeat(2, 10.22727em); } }
    @media (max-width: 699px) {
      .portfolio .portfolio__list {
        grid-template-rows: repeat(3, 9.31818em);
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.90909em;
        grid-template-areas: "Milkbar GamePlace" "Milkbar Game4Game" "GetUp SportHub"; } }
    @media (max-width: 399px) {
      .portfolio .portfolio__list {
        grid-template-rows: repeat(3, 8.40909em); } }
    .portfolio .portfolio__list li {
      border-radius: 5px;
      overflow: hidden; }
      .portfolio .portfolio__list li[data-project="Milkbar"] {
        grid-area: Milkbar; }
      .portfolio .portfolio__list li[data-project="GamePlace"] {
        grid-area: GamePlace; }
      .portfolio .portfolio__list li[data-project="GetUp"] {
        grid-area: GetUp; }
      .portfolio .portfolio__list li[data-project="Game4Game"] {
        grid-area: Game4Game; }
      .portfolio .portfolio__list li[data-project="SportHub"] {
        grid-area: SportHub; }
    .portfolio .portfolio__list .link {
      color: #000000;
      text-decoration: none;
      display: flex;
      justify-content: center;
      height: 100%; }
      .portfolio .portfolio__list .link img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover; }

.testimonials {
  background-color: #41228e;
  background-image: url(../imgs/home/testimonials/background.png);
  background-repeat: no-repeat;
  background-size: auto 75%;
  background-position: center center;
  margin-top: 7.72727em; }
  .testimonials .section-title {
    color: #ffffff; }
  .testimonials .container {
    width: 91.25%;
    max-width: 1460px;
    margin: 0 auto;
    position: relative;
    padding: 4.77273em 0 2.72727em; }
  .testimonials .testimonials__slider {
    width: 73.125%;
    max-width: 1170px;
    margin: 0 auto;
    margin: 1.81818em auto 1.13636em; }
    @media (max-width: 699px) {
      .testimonials .testimonials__slider {
        width: 82%; } }
    @media (max-width: 399px) {
      .testimonials .testimonials__slider {
        width: 92%; } }
    @media (max-width: 699px) {
      .testimonials .testimonials__slider {
        width: 95%;
        margin: 0.68182em auto; } }
  .testimonials .testimonials__item {
    width: 100%;
    box-sizing: border-box;
    padding: 0 4.54545em; }
    @media (max-width: 699px) {
      .testimonials .testimonials__item {
        padding: 0 0.90909em; } }
    .testimonials .testimonials__item:before {
      content: "";
      display: block;
      margin: 0 auto;
      width: 3.18182em;
      height: 2.27273em;
      background-image: url(../imgs/icons/quote.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center; }
      @media (max-width: 699px) {
        .testimonials .testimonials__item:before {
          width: 2.27273em;
          height: 1.59091em; } }
    .testimonials .testimonials__item .content {
      margin: 0.90909em 0 0;
      font-family: "Playfair Display", serif;
      color: #ffffff;
      font-size: 1em;
      line-height: 1.5;
      text-align-last: center; }
      @media (max-width: 699px) {
        .testimonials .testimonials__item .content {
          text-align: center; } }
      .testimonials .testimonials__item .content span {
        color: #3ff8f6; }
    .testimonials .testimonials__item img {
      display: block;
      margin: 1.81818em auto 0;
      width: 4.54545em;
      height: 4.54545em; }
    .testimonials .testimonials__item .autor {
      margin: 0.45455em 0 1.13636em;
      font-family: "Playfair Display", serif;
      color: #ffffff;
      font-size: 1em;
      text-align: center; }
      .testimonials .testimonials__item .autor span {
        font-family: "Playfair Display", serif;
        color: rgba(255, 255, 255, 0.5);
        font-size: 0.90909em; }
  .testimonials .flickity-button {
    display: none !important; }
  .testimonials .flickity-page-dots .dot {
    margin: 0 2px;
    width: 12px;
    height: 6px;
    background: #ffffff;
    border-radius: 25%; }
    .testimonials .flickity-page-dots .dot.is-selected {
      width: 25px; }

.clients {
  width: 73.125%;
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 5.45455em; }
  @media (max-width: 699px) {
    .clients {
      width: 82%; } }
  @media (max-width: 399px) {
    .clients {
      width: 92%; } }
  .clients .clients__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    min-height: 2.04545em;
    flex-wrap: wrap; }
    .clients .clients__list li {
      width: 18%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .clients .clients__list li img {
        width: 100%;
        object-fit: contain; }

.blogs {
  width: 73.125%;
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 5.68182em; }
  @media (max-width: 699px) {
    .blogs {
      width: 82%; } }
  @media (max-width: 399px) {
    .blogs {
      width: 92%; } }
  @media (max-width: 399px) {
    .blogs {
      margin-top: 3.40909em; } }
  .blogs .blogs__wrapper {
    margin-top: 3.63636em; }
    @media (max-width: 699px) {
      .blogs .blogs__wrapper {
        flex-wrap: wrap; } }
  .blogs .blog__post {
    display: flex;
    box-shadow: 0px 59px 39.1px 6.9px rgba(224, 241, 255, 0.34);
    border-radius: 5px;
    overflow: hidden; }
    @media (max-width: 699px) {
      .blogs .blog__post {
        flex-basis: 100%; } }
    .blogs .blog__post img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top center; }
    .blogs .blog__post a {
      color: #000000;
      text-decoration: none; }
    .blogs .blog__post .post__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .blogs .blog__post .title {
      margin: 0.45455em 0 0;
      font-family: "Playfair Display", serif;
      color: #000000;
      font-size: 1em; }
    .blogs .blog__post .content {
      font-family: "Roboto", sans-serif;
      color: #000000;
      font-size: 0.81818em;
      line-height: 1.5; }
    .blogs .blog__post .category {
      margin: 0;
      padding: 0 10px;
      display: inline-block;
      font: normal 400 0.90909em "Playfair Display", serif;
      color: #41228e; }
    .blogs .blog__post:first-child {
      width: 65.81197%; }
      @media (max-width: 699px) {
        .blogs .blog__post:first-child {
          margin-bottom: 2.27273em; } }
      .blogs .blog__post:first-child img {
        max-width: 50%; }
      .blogs .blog__post:first-child .post__wrapper {
        padding: 0.90909em 2.04545em; }
        @media (max-width: 699px) {
          .blogs .blog__post:first-child .post__wrapper {
            padding: 0.90909em 0.68182em; } }
      .blogs .blog__post:first-child .content {
        margin: 1.94444em 0 0; }
      .blogs .blog__post:first-child .category__link {
        margin-top: 2.27273em; }
      .blogs .blog__post:first-child .category {
        background-color: rgba(65, 34, 142, 0.2); }
    .blogs .blog__post:nth-child(2) {
      width: 31.62393%;
      flex-direction: column; }
      .blogs .blog__post:nth-child(2) img {
        max-height: 12.27273em; }
        @media (max-width: 699px) {
          .blogs .blog__post:nth-child(2) img {
            max-height: 20.45455em; } }
      .blogs .blog__post:nth-child(2) .post__wrapper {
        padding: 0.90909em 1.36364em; }
      .blogs .blog__post:nth-child(2) .content {
        margin: 0.22727em 0 0; }
      .blogs .blog__post:nth-child(2) .category__link {
        margin-top: 0.90909em; }
      .blogs .blog__post:nth-child(2) .category {
        background-color: rgba(245, 78, 162, 0.2); }

.main-footer {
  margin-top: 5.68182em;
  padding-top: 2.72727em;
  background-image: url(../imgs/home/footer/background.png);
  position: relative; }
  .main-footer .contact-info {
    position: relative; }
    .main-footer .contact-info:before {
      content: "";
      z-index: 0;
      position: absolute;
      width: 100%;
      height: 26.5%;
      bottom: 0;
      left: 0;
      background-color: #222222; }
  .main-footer .form__wrapper {
    width: 35em;
    max-width: 770px;
    margin: 4.54545em auto 0;
    box-shadow: 0px 0px 80.75px 14.25px rgba(224, 241, 255, 0.34); }
    @media (max-width: 699px) {
      .main-footer .form__wrapper {
        width: 90%;
        margin-top: 2.27273em; } }
  .main-footer .contact-form {
    padding: 2.27273em 3.18182em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: #ffffff;
    border-radius: 15px; }
    .main-footer .contact-form .form__title {
      font-family: "Playfair Display", serif;
      color: #000000;
      font-size: 1em;
      text-align: center; }
    .main-footer .contact-form .fields__wrapper {
      display: flex; }
      @media (max-width: 699px) {
        .main-footer .contact-form .fields__wrapper {
          flex-wrap: wrap; } }
      .main-footer .contact-form .fields__wrapper label {
        margin-top: 2.5em;
        width: 50%; }
        @media (max-width: 699px) {
          .main-footer .contact-form .fields__wrapper label {
            width: 100%; } }
      .main-footer .contact-form .fields__wrapper input {
        display: block; }
    .main-footer .contact-form label {
      font-family: "Roboto", sans-serif;
      color: #000000;
      font-size: 0.81818em; }
    .main-footer .contact-form .message {
      margin-top: 2.5em; }
    .main-footer .contact-form input {
      width: 90%; }
    .main-footer .contact-form textarea {
      resize: none; }
    .main-footer .contact-form input, .main-footer .contact-form textarea {
      margin-top: 5px;
      padding: 5px 10px;
      font-family: "Playfair Display", serif;
      color: #000000;
      font-size: 1em;
      border: none;
      border-bottom: 1px solid #999999; }
    .main-footer .contact-form .form__btn {
      width: 46%;
      margin: 1.81818em auto 0;
      font-family: "Playfair Display", serif;
      color: #ffffff;
      font-size: 1em;
      text-transform: uppercase;
      text-align: center;
      line-height: 2.3;
      background-color: #41228e;
      border-radius: 5px;
      cursor: pointer; }
  .main-footer .footer__contact {
    position: relative;
    background-color: #222222; }
    .main-footer .footer__contact .contact__list {
      width: 73.125%;
      max-width: 1170px;
      margin: 0 auto;
      list-style: none;
      display: flex;
      justify-content: space-between;
      padding: 2.72727em 0; }
      @media (max-width: 699px) {
        .main-footer .footer__contact .contact__list {
          width: 82%; } }
      @media (max-width: 399px) {
        .main-footer .footer__contact .contact__list {
          width: 92%; } }
      @media (max-width: 699px) {
        .main-footer .footer__contact .contact__list {
          flex-wrap: wrap;
          justify-content: center; } }
      .main-footer .footer__contact .contact__list li {
        flex-basis: 24%; }
        @media (max-width: 699px) {
          .main-footer .footer__contact .contact__list li {
            flex-basis: 90%; } }
      .main-footer .footer__contact .contact__list .title {
        margin: 0;
        font-family: "Playfair Display", serif;
        color: #999999;
        font-size: 0.90909em; }
        @media (max-width: 699px) {
          .main-footer .footer__contact .contact__list .title {
            margin-top: 0.90909em; } }
      .main-footer .footer__contact .contact__list .value {
        margin: 0.90909em 0 0;
        font-family: "Playfair Display", serif;
        color: #ffffff;
        font-size: 1em; }
        @media (max-width: 699px) {
          .main-footer .footer__contact .contact__list .value {
            margin-top: 0; } }
    .main-footer .footer__contact .copyright {
      margin: 0;
      padding: 2.22222em 0 3.33333em;
      position: relative;
      text-align: center;
      font-family: "Roboto", sans-serif;
      color: #ffffff;
      font-size: 0.81818em; }
      .main-footer .footer__contact .copyright::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #999999; }

.leaf-1, .leaf-2, .leaf-3, .leaf-4, .leaf-5, .leaf-6, .dots-1, .dots-2, .dots-3, .dots-4 {
  position: absolute;
  height: auto;
  z-index: 0; }

.header--home .decoration .dots-1 {
  width: 9.0411%;
  top: 21.96532%;
  right: 31.16438%; }
  @media (max-width: 1199px) {
    .header--home .decoration .dots-1 {
      width: 10.84932%; } }
  @media (max-width: 899px) {
    .header--home .decoration .dots-1 {
      width: 13.56164%; } }
  @media (max-width: 699px) {
    .header--home .decoration .dots-1 {
      width: 18.08219%; } }
  @media (max-width: 399px) {
    .header--home .decoration .dots-1 {
      width: 22.60274%; } }

.header--home .decoration .dots-2 {
  width: 6.0274%;
  bottom: 13.87283%;
  left: 26.71233%; }
  @media (max-width: 1199px) {
    .header--home .decoration .dots-2 {
      width: 7.23288%; } }
  @media (max-width: 899px) {
    .header--home .decoration .dots-2 {
      width: 9.0411%; } }
  @media (max-width: 699px) {
    .header--home .decoration .dots-2 {
      width: 12.05479%; } }
  @media (max-width: 399px) {
    .header--home .decoration .dots-2 {
      width: 15.06849%; } }

.header--home .decoration .leaf-1 {
  width: 35.34247%;
  top: 17.91908%;
  left: -24.65753%; }
  @media (max-width: 1199px) {
    .header--home .decoration .leaf-1 {
      width: 42.41096%; } }
  @media (max-width: 899px) {
    .header--home .decoration .leaf-1 {
      width: 53.0137%; } }
  @media (max-width: 699px) {
    .header--home .decoration .leaf-1 {
      width: 70.68493%; } }
  @media (max-width: 399px) {
    .header--home .decoration .leaf-1 {
      width: 88.35616%; } }
  @media (max-width: 699px) {
    .header--home .decoration .leaf-1 {
      display: none; } }

.header--home .decoration .leaf-2 {
  width: 4.93151%;
  top: 0%;
  left: 45.20548%; }
  @media (max-width: 1199px) {
    .header--home .decoration .leaf-2 {
      width: 5.91781%; } }
  @media (max-width: 899px) {
    .header--home .decoration .leaf-2 {
      width: 7.39726%; } }
  @media (max-width: 699px) {
    .header--home .decoration .leaf-2 {
      width: 9.86301%; } }
  @media (max-width: 399px) {
    .header--home .decoration .leaf-2 {
      width: 12.32877%; } }

.header--home .decoration .leaf-3 {
  width: 23.69863%;
  top: 13.2948%;
  right: -18.49315%; }
  @media (max-width: 1199px) {
    .header--home .decoration .leaf-3 {
      width: 28.43836%; } }
  @media (max-width: 899px) {
    .header--home .decoration .leaf-3 {
      width: 35.54795%; } }
  @media (max-width: 699px) {
    .header--home .decoration .leaf-3 {
      width: 47.39726%; } }
  @media (max-width: 399px) {
    .header--home .decoration .leaf-3 {
      width: 59.24658%; } }

.header--home .decoration .leaf-4 {
  width: 11.57534%;
  bottom: 1.15607%;
  left: 1.0274%; }
  @media (max-width: 1199px) {
    .header--home .decoration .leaf-4 {
      width: 13.89041%; } }
  @media (max-width: 899px) {
    .header--home .decoration .leaf-4 {
      width: 17.36301%; } }
  @media (max-width: 699px) {
    .header--home .decoration .leaf-4 {
      width: 23.15068%; } }
  @media (max-width: 399px) {
    .header--home .decoration .leaf-4 {
      width: 28.93836%; } }
  @media (max-width: 699px) {
    .header--home .decoration .leaf-4 {
      display: none; } }

.header--home .decoration .leaf-5 {
  width: 5.75342%;
  bottom: 19.65318%;
  right: 31.50685%; }
  @media (max-width: 1199px) {
    .header--home .decoration .leaf-5 {
      width: 6.90411%; } }
  @media (max-width: 899px) {
    .header--home .decoration .leaf-5 {
      width: 8.63014%; } }
  @media (max-width: 699px) {
    .header--home .decoration .leaf-5 {
      width: 11.50685%; } }
  @media (max-width: 399px) {
    .header--home .decoration .leaf-5 {
      width: 14.38356%; } }

.header--home .decoration .leaf-6 {
  width: 11.64384%;
  bottom: 16.76301%;
  right: -6.84932%; }
  @media (max-width: 1199px) {
    .header--home .decoration .leaf-6 {
      width: 13.9726%; } }
  @media (max-width: 899px) {
    .header--home .decoration .leaf-6 {
      width: 17.46575%; } }
  @media (max-width: 699px) {
    .header--home .decoration .leaf-6 {
      width: 23.28767%; } }
  @media (max-width: 399px) {
    .header--home .decoration .leaf-6 {
      width: 29.10959%; } }

.testimonials .dots-3 {
  width: 6.0274%;
  top: -5.78035%;
  left: 4.79452%; }
  @media (max-width: 1199px) {
    .testimonials .dots-3 {
      width: 7.23288%; } }
  @media (max-width: 899px) {
    .testimonials .dots-3 {
      width: 9.0411%; } }
  @media (max-width: 699px) {
    .testimonials .dots-3 {
      width: 12.05479%; } }
  @media (max-width: 399px) {
    .testimonials .dots-3 {
      width: 15.06849%; } }

.testimonials .dots-4 {
  width: 6.0274%;
  top: 24.27746%;
  right: -1.36986%; }
  @media (max-width: 1199px) {
    .testimonials .dots-4 {
      width: 7.23288%; } }
  @media (max-width: 899px) {
    .testimonials .dots-4 {
      width: 9.0411%; } }
  @media (max-width: 699px) {
    .testimonials .dots-4 {
      width: 12.05479%; } }
  @media (max-width: 399px) {
    .testimonials .dots-4 {
      width: 15.06849%; } }

.testimonials .leaf-1 {
  width: 35.34247%;
  transform: scale(-1);
  top: 29.47977%;
  right: -24.65753%; }
  @media (max-width: 1199px) {
    .testimonials .leaf-1 {
      width: 42.41096%; } }
  @media (max-width: 899px) {
    .testimonials .leaf-1 {
      width: 53.0137%; } }
  @media (max-width: 699px) {
    .testimonials .leaf-1 {
      width: 70.68493%; } }
  @media (max-width: 399px) {
    .testimonials .leaf-1 {
      width: 88.35616%; } }
  @media (max-width: 699px) {
    .testimonials .leaf-1 {
      display: none; } }

.testimonials .leaf-4 {
  width: 11.57534%;
  bottom: -4.62428%;
  right: 8.21918%; }
  @media (max-width: 1199px) {
    .testimonials .leaf-4 {
      width: 13.89041%; } }
  @media (max-width: 899px) {
    .testimonials .leaf-4 {
      width: 17.36301%; } }
  @media (max-width: 699px) {
    .testimonials .leaf-4 {
      width: 23.15068%; } }
  @media (max-width: 399px) {
    .testimonials .leaf-4 {
      width: 28.93836%; } }

.testimonials .leaf-5 {
  width: 5.75342%;
  bottom: 20.80925%;
  left: 4.45205%; }
  @media (max-width: 1199px) {
    .testimonials .leaf-5 {
      width: 6.90411%; } }
  @media (max-width: 899px) {
    .testimonials .leaf-5 {
      width: 8.63014%; } }
  @media (max-width: 699px) {
    .testimonials .leaf-5 {
      width: 11.50685%; } }
  @media (max-width: 399px) {
    .testimonials .leaf-5 {
      width: 14.38356%; } }
